
.custom-toast.Vue-Toastification__toast--info{
  padding: 12px 24px !important;
  border: 2px solid #fff;
  box-shadow: inset;
  user-select: none !important;
  border-radius: 5px !important;
  background: #ffffff !important;
  color: rgb(145, 145, 145);
  display: flex !important;
  align-items: center !important;
  /* min-height: 50px; /* Altura mínima para evitar esmagamento */
}
